/* .heading{
  color: blueviolet;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  text-shadow:0px 10px 8px #ffe9c5;
  margin: 50px 0;
  

} */

body{
  background-color:#b4f2e1;
  box-sizing: border-box;
  margin: 0px;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}
div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color: #fa9191;
  border-radius: 20px;
}
span{
  color: #eb6383;
}

/* .img_div{ 
  display: flex;
  justify-content: center;
}

.img_div img{
  height: 250px;
  width: 300px;
}
 */



























/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
